<footer class="footer background-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-bottom">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz_fd5KuRzXfuQZmTCNQ-Vn39pq9-wo_M7nEZ94woICg&s" alt="logo landsoft">
                    <p>Phần mềm quản lý bất động sản Landsoft là hệ thống giải pháp được phát triển bởi Công ty cổ phần công nghệ DIP Việt Nam.
                    Với nhiều năm kinh nghiệm đi sâu vào thị trường Việt Nam và các nước Đông Nam Á, chúng tôi hiểu tầm quan trọng của công
                    nghệ ứng dụng trong việc kinh doanh tại các thị trường này.</p>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="footer-bottom d-flex align-items-center justify-content-center">
                    <!-- Sử dụng d-flex để căn giữa theo cả chiều dọc và ngang -->
                    <div class="text-center footer-1-content " style="width: 80%;"> <!-- Thiết lập chiều rộng của nội dung là 80% -->
                        <!-- Nội dung của cột 2 -->
                        <a href="https://www.facebook.com/landsoftglobal?ref=embed_page" style="display: flex; justify-content:center; align-items:center;">
                            <img src="https://landsoft.com.vn/matbien/uploads/2022/09/landsoft-quan-ly-kinh-doanh-bat-dong-san-cho-cic-group-2-scaled.jpg" alt="Clickable Image" style="width: 100%;">
                        </a>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>SITE MAP</h6>
                <hr style="border-color: black;">
                <ul class="list-unstyled">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Tin tức về Landsoft</a></li>
                    <li><a href="#">Tài liệu bất động sản</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>

            </div>
            <div class="col-md-3 ">

                <h6>QUẢN LÍ KINH DOANH BĐS</h6>
                <hr style="border-color: black;">

                <ul class="list-unstyled">
                    <li><a href="#">Dành cho chủ đầu tư</a></li>
                    <li><a href="#">Dành cho đại lý bất động sản</a></li>
                    <li><a href="#">Dành cho môi giới nhà đất</a></li>

                    
                </ul>
            
            </div>
            <div class="col-md-3">
                <h6>QUẢN LÝ VẬN HÀNH BDS</h6>
                <hr style="border-color: black;">
                <ul class="list-unstyled">
                    <li><a href="#">Quản lý chung cư</a></li>
                    <li><a href="#">Quản lý văn phòng</a></li>
                    <li><a href="#">Quản lý khu phức hợp</a></li>
                    <li><a href="#">Quản lý khu công nghiệp</a></li>
                
                
                </ul>
            
            </div>
            <div class="col-md-3 ">
                <h6>THEO DÕI LANDSOFT</h6>
                <hr style="border-color: black;">
                <ul class="list-inline ">
                    <li class="list-inline-item"><a href="#">
                        <i class="fa-brands fa-facebook"></i>
                    </a></li>
                    <li class="list-inline-item"><a href="#">
                        <i class="fa-brands fa-google-plus-g"></i>
                    </a></li>
                    <li class="list-inline-item"><a href="#">
                        <i class="fa-brands fa-youtube"></i>
                    </a></li>
                    <li class="list-inline-item"><a href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a></li>
                    
                </ul>
                <ul class="list-unstyled">

                    <li>
                        <i class="fa-solid fa-phone-volume"></i>
                        Hotline:</li>
                        <ul>
                            <li>Hà Nội: (024)71055777</li>
                            <li>TP.HCM: (028)71066777</li>
                        </ul>
                    <li><i class="fa-solid fa-envelope"></i>
                    Mail: info@dip.vn</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-bottom ">
                    <p>&copy; 2018 Công ty phần mềm Ecogreen City VietNam.</p>
                </div>
            </div>
        </div>
    </div>
</footer>